<h1>New User</h1>

<form action='/users' method='POST'> 
    <div>Username: <input type='text' name='username'></div>
    <div>City: <input type='text' name='city'></div>
    <div><input type='submit' value='Create New User'></div>    
</form>